In [13]:
import pandas as pd
import numpy as np

In [21]:
crime_london = pd.read_csv('london_crime_by_lsoa.csv')

In [22]:
crime_london.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

In [23]:
crime_london.drop(["lsoa_code"], axis=1, inplace=True)

In [24]:
crime_london.head()

,borough,major_category,minor_category,value,year,month
0,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,Bromley,Violence Against the Person,Other violence,0,2015,5
3,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,Wandsworth,Robbery,Personal Property,0,2008,6

In [25]:
crime_london[crime_london['borough'] == 'Sutton']

,borough,major_category,minor_category,value,year,month
9,Sutton,Theft and Handling,Theft/Taking of Pedal Cycle,1,2016,8
19,Sutton,Drugs,Possession Of Drugs,0,2009,10
79,Sutton,Robbery,Personal Property,1,2008,1
97,Sutton,Burglary,Burglary in Other Buildings,3,2013,5
101,Sutton,Violence Against the Person,Wounding/GBH,0,2016,7
...,...,...,...,...,...,...
13490331,Sutton,Theft and Handling,Theft/Taking Of Motor Vehicle,0,2009,2
13490364,Sutton,Violence Against the Person,Harassment,0,2009,12
13490380,Sutton,Violence Against the Person,Common Assault,4,2013,7
13490579,Sutton,Drugs,Drug Trafficking,0,2016,12
13490601,Sutton,Burglary,Burglary in a Dwelling,0,2011,2

In [28]:
years = range (2009,2014)
sutton = crime_london.loc['Sutton', years]

KeyError: 'Sutton'